header.header
  .inner
    .header-logo
      a(href='/')
        img(src='img/img1.png', alt='img1')
    .header-menu
      a.basket(href='/')
        +icon('icon_basket')
      a.bell(href='/')
        +icon('icon_bell')
      a.profile(href='/')
        img(src='img/img2.png', alt='img2')
      .header-menu-mb
        span
        span
        span
