header.header
  .inner
    .header-logo
      a(href='/')
        img(src='img/img1.png', alt='img1')
    .header-menu
      a(href='/')
        +icon('icon_basket')
      a(href='/')
        +icon('icon_bell')
      a(href='/')
        img(src='img/img2.png', alt='img2')
