$font: 'Roboto', 'Arial', sans-serif;

$black: #2f2f2f;
$gray: #959595;
$gray-light: #e4e4e4;
$green: #335a4a;

$mediaWidthDesktop: 1580px;
$mediaWidthLaptop: 1366px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 520px;
$custom: 635px;
